In [21]:
from pybaseball import batting_stats;
import os;
import pandas as pd;
import numpy as np;
import seaborn as sns;
import matplotlib.pyplot as plt;

data = batting_stats(start_season=1871, end_season=2023, league='all', qual=None, ind=0)
df1 = data.loc[data['HR'] > 399]

In [31]:
total_hr = df1.loc[:,['IDfg','Name','HR']].sort_values('HR', ascending=False)

In [36]:
total_hr.loc[:,['IDfg']].groupby('IDfg', as_index=True).head()

         IDfg
23       1109
89    1000001
1     1011327
203      1177
130      1274
64    1008315
208       327
74        409
392       302
85    1011066
49    1008559
171   1006905
261      1266
325   1006308
43        210
131   1011586
152       745
31    1008082
6     1004285
46        255
182   1008423
2     1014040
165   1008236
652   1000512
27    1009904
235      1744
154       114
491   1009386
228       293
3     1004598
905       639
185   1012426
21    1009405
156      1297
120        97
519   1014127
532      2434
314   1001918
451       319
318   1014326
160       778
76        547
1150  1006939
140       818
581       242
931   1003091
689       589
230      1251
853        96
1050  1010978
158       893
301   1013975
549      2151
759   1003864
981       847
370      1281
83    1012230
382      4949